.readMore {
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--color-yellow);
  font-family: "Ubuntu", sans-serif;
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding-left: 0;
}
