.discipline {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Lora", sans-serif;
  padding-bottom: 100px;
}

.history {
  margin-bottom: 75px;
}

.history-bin {
  width: 75vw;
}

.history h1 {
  padding-bottom: 10px;
  font-size: 25px;
  font-family: "Lora", sans-serif;
  border-bottom: 1px solid black;
  color: var(--color-yellow);
}

.history span {
  display: flex;
  align-items: center;
}

.history span h2 {
  font-size: 19px;
  color: #fff;
}

.history span p {
  font-size: 17px;
  margin-left: 30px;
  color: #eeeeee;
}

#d-title {
  font-family: "Lora", sans-serif;
  font-size: 25px;
  color: #fff;
}

@media (max-width: 550px) {
  .discipline {
    padding: 0 25px;
  }

  .history-bin {
    width: 100%;
  }
  .history span {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .history span p {
    margin-left: 0px;
  }
}
