.quick-shelf {
  font-family: "Lora", sans-serif;
  text-align: center;
  padding-top: 75px;
}

.quick-shelf h1 {
  font-size: 25px;
  color: #fff;
}

.work {
  padding: 150px 0px;
  padding-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, minmax(140px, 350px));
  justify-content: center;
  gap: 20px 20px;
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: 4rem;
  align-items: center;
}

@media (max-width: 1025px) {
  .work {
    grid-template-columns: repeat(2, minmax(140px, 350px));
    padding-bottom: 50px;
  }
}

@media (max-width: 675px) {
  .work {
    grid-template-columns: repeat(1, minmax(140px, 350px));
    gap: 50px;
  }
}
