.courseCard {
  display: grid;
  grid-template-columns: repeat(3, minmax(140px, 350px));
  justify-content: center;
  gap: 20px 20px;
  padding: 0px;
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: 4rem;
}

.btnContainer {
  display: flex;
  justify-content: center;
}

.btnContainer button {
  padding: 1.25rem 2rem;
  color: var(--color-yellow);
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  background-color: transparent;
  border: 1px solid var(--project-border);
  cursor: pointer;
  box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.269);
}

@media (max-width: 1025px) {
  .courseCard {
    grid-template-columns: repeat(2, minmax(140px, 350px));
  }
}

@media (max-width: 625px) {
  .courseCard {
    grid-template-columns: repeat(1, minmax(140px, 550px));
  }
}
