@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Noto+Sans:wght@400;500&family=Playfair+Display&family=Ubuntu:wght@300;400&family=Work+Sans:wght@300;400&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: var(--bg-color);
}

* {
  font-size: 62.5%;
}

html {
  overflow-x: hidden;
}

:root {
  --color-yellow: #fbf8be;
  --project-border: #fbf8beb5;
  --dark-blue: #153045;
  --bg-color: #234e70;
}

#logo {
  height: 50px;
  width: 50px;
}

.sectionHeadingContainer {
  display: flex;
  align-items: center;
}

.writingHeadingContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.diamond {
  height: 2rem;
  width: auto;
  margin-left: 1rem;
}

#pacman {
  height: 2rem;
  width: auto;
  margin: 0;
}

.linebreak {
  width: 30rem;
  height: 1px;
  background-color: rgb(200, 200, 200);
}

.section-title {
  font-size: 4.5rem;
  font-family: "Ubuntu", sans-serif;
  color: #fff;
}

.about-title {
  font-size: 4.5rem;
  font-family: "Ubuntu", sans-serif;
  color: #fff;
}

.projects-title {
  font-size: 4.5rem;
  font-family: "Ubuntu", sans-serif;
  color: #fff;
  padding-left: 15rem;
  margin-right: 3rem;
  white-space: nowrap;
}

.writing-title {
  font-size: 4.5rem;
  font-family: "Ubuntu", sans-serif;
  color: #fff;
  padding-right: 15rem;
  margin-left: 3rem;
  white-space: nowrap;
}

@media (max-width: 1150px) {
  .projects-title {
    padding-left: 0rem;
  }
  .writing-title {
    padding-right: 0rem;
  }
}

@media (max-width: 950px) {
  .projects-title {
    font-size: 3rem;
    content: "Projects";
  }
  .writing-title {
    font-size: 3rem;
  }

  .linebreak {
    width: 20rem;
    height: 1px;
    background-color: rgb(200, 200, 200);
  }
}

.project-spotlight {
  color: var(--color-yellow);
  font-size: 1.5rem;
  font-family: "Ubuntu", sans-serif;
  letter-spacing: 1.5px;
}

/* Projects */

.project-one {
  width: 50rem;
  height: 35rem;
  background-image: linear-gradient(to bottom, #6261432e, #6261432e),
    url(./images/draft.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  border: 1px solid #1312127d;
  z-index: 1;
  margin-right: 4rem;
}

.project-two {
  width: 50rem;
  height: 35rem;
  background-image: linear-gradient(to bottom, #6261432e, #6261432e),
    url(./images/draft3.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  border: 1px solid #1312127d;
  z-index: 1;
  margin-left: 4rem;
}

.project-three {
  width: 50rem;
  height: 35rem;
  background-image: linear-gradient(to bottom, #6261432e, #6261432e),
    url(./images/draft2.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  border: 1px solid #1312127d;
  z-index: 1;
  margin-right: 4rem;
}

/* Project Text */
.projectText {
  text-align: right;
  line-height: 0.4;
  position: relative;
  margin-left: 4rem;
  z-index: 2;
}

.projectText h3 {
  color: rgb(200, 200, 200);
  font-size: 3rem;
  font-family: "Ubuntu", sans-serif;
  white-space: nowrap;
}

.projectText p {
  width: 40rem;
  position: absolute;
  line-height: 1.5;
  background-color: var(--dark-blue);
  z-index: 2;
  right: 0;
  padding: 2rem 2rem;
  color: #fff;
  font-size: 1.75rem;
  font-family: "Inter", sans-serif;
  border-radius: 5px;
  box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.22);
}

.middleText {
  text-align: left;
  line-height: 0.4;
  position: relative;
  margin-right: 4rem;
  z-index: 2;
}

.middleText h3 {
  color: rgb(200, 200, 200);
  font-size: 3rem;
  font-family: "Ubuntu", sans-serif;
  white-space: nowrap;
}

.middleText p {
  width: 40rem;
  position: absolute;
  line-height: 1.5;
  background-color: var(--dark-blue);
  z-index: 2;
  left: 0;
  padding: 2rem 2rem;
  color: #fff;
  font-size: 1.75rem;
  font-family: "Inter", sans-serif;
  border-radius: 5px;
  box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.22);
}

@media (max-width: 900px) {
  .project-overhang {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5rem;
    width: 100%;
  }
  .project-one {
    width: 50rem;
    height: 35rem;
    position: absolute;
    top: 0;
    left: 0;
    margin-right: 0rem;
    background-image: linear-gradient(to bottom, #153045d7, #153045d7),
      url(./images/notext1.jpg);
  }

  .project-two {
    width: 50rem;
    height: 35rem;
    position: absolute;
    margin-left: 0rem;
    top: 0;
    left: 0;
    background-image: linear-gradient(to bottom, #153045d7, #153045d7),
      url(./images/notext.jpg);
  }

  .project-three {
    width: 50rem;
    height: 35rem;
    position: absolute;
    background-image: linear-gradient(to bottom, #153045d7, #153045d7),
      url(./images/notext3.jpg);
    top: 0;
    left: 0;
    margin-right: 0rem;
  }

  .projectText {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 0rem;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .middleText {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 0rem;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0rem;
  }

  .middleText p {
    position: relative;
    background-color: transparent;
    box-shadow: none;
    text-align: center;
    width: 40rem;
  }

  .projectText p {
    position: relative;
    background-color: transparent;
    box-shadow: none;
    text-align: center;
    width: 40rem;
  }
  .project-spotlight {
    margin-bottom: 4rem;
  }
}

@media (max-width: 625px) {
  .project-one {
    width: 100%;
  }
  .project-two {
    width: 100%;
  }
  .project-three {
    width: 100%;
  }
}

#writingInfo {
  width: 65vw;
}

@media (max-width: 770px) {
  #writingInfo {
    width: 100%;
  }
}

@media (max-width: 500px) {
  /* .projectText {
    padding: 0rem 2.5rem;
  } */
  .projectText p {
    width: 77.5vw;
  }

  .projectText h3 {
    font-size: 2.5rem;
  }

  .middleText p {
    width: 77.5vw;
  }

  .middleText h3 {
    font-size: 2.5rem;
  }
}

@media (max-width: 375px) {
  .projectText p {
    font-size: 1.5rem;
  }

  .middleText p {
    font-size: 1.5rem;
  }
}

#project-link {
  text-decoration: none;
  color: var(--color-yellow);
  position: absolute;
  bottom: 25%;
  right: 0;
  font-size: 2rem;
  font-family: "Inter", sans-serif;
}

#project-link-middle {
  text-decoration: none;
  color: var(--color-yellow);
  position: absolute;
  bottom: 25%;
  left: 0;
  font-size: 2rem;
  font-family: "Inter", sans-serif;
}

@media (max-width: 900px) {
  #project-link {
    position: relative;
    display: block;
    margin-top: 12.5rem;
  }

  #project-link-middle {
    position: relative;
    display: block;
    margin-top: 12.5rem;
  }
}
